<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <form action="/user/new" method="get">
            <button>Creat Account</button>
        </form>
    </div>
    <h2>All Users Information</h2>
    <hr>
    <br>
    <table>
        <tr>
            <th>UserId</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
        <% for(let user of users){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td>
                    <a href="http://localhost:8080/user/<%= user.id %>/edit">Edit Username</a>
                </td>
                <td><a href="http://localhost:8080/user/<%= user.id %>/delete">Delete User</a></td>
            </tr>   
        <% } %>
    </table>
</body>
</html>